{% extends 'fishbanksapp/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
          margin: 1em 0;
        }
        th, td {
          padding: 12px;
          border: 1px solid #ccc;
          text-align: left;
        }
        th {
          background-color: #f5f5f5;
        }
        ul {
          padding-left: 1.2em;
        }
      </style>
</head>
<body>
    <h1>Starter’s Guide</h1>

    <p>Welcome to <strong>OpenFishbanks</strong>, a multiplayer game where you manage a fishing company and try to maximize profit. This guide walks you through everything you need to know to get started.</p>

    <p>In OpenFishbanks, you play as the CEO of a fishing company.<br>
    Your goal: <strong>maximize your fishery's value</strong> by fishing, buying/selling boats, and managing resources wisely.<br>
    But be careful! The ocean has limited fish, and overfishing can hurt everyone — including you.</p>


    <h2>Creating an Account</h2>
    <p>To play OpenFishbanks, register as a new user by clicking on the login button, then <a href="{url 'login'}">“create new account.”</a> Fill out the necessary fields, and ensure you follow password rules, otherwise, your account will not be created.</p>

    <h2>In-game Time</h2>
    <p>The entire game revolves around an in-game time system, which is scaled at 365 times normal time. One day in real life equates to one year in-game, or one fishing season. The time is displayed at the top of the page.</p>

    <h2>Ships</h2>
    <p>Every player starts with a “starting ship” and $20,000. You can view your ships under “my fishery” and <a href="{url 'inventory'}">“inventory.”</a> To position your ship, click “modify ship” and select the harbor you want the ship to fish at. You can also set custom nicknames for each ship.</p>

    <h2>Harbors and Fish</h2>
    <p>There are 10 distinct harbors, each with its unique fish species. The values of each fish species vary based on the harbor fees and the size of the fish. Fish prices fluctuate based on the number of fish being sold. To track the value of the fish and see which harbors have which species, visit the <a href="{url 'fish_market'}">“fish market”</a> page.</p>

    <h2>Making Money</h2>
    <p>Every 30 minutes, your ships will return from a fishing trip, and an invoice will be generated. The invoice is a paycheck, displaying details on what ships were made, the amount of revenue, as well as the fees for fishing (including gas, workers, and harbor fees). Keeping track of your revenue and adapting your strategy on placing ships in different harbors will help you progress.</p>

    <h2>Auction</h2>
    <p>Users can buy and sell used ships on the auction. To create a listing, go to <a href="{url 'inventory'}">“inventory”</a> and auction the ship you want to sell. After filling out the necessary fields, a listing will be made that others can view on the <a href="{url 'shop'}">“shop”</a> page. To place a bid, enter a number in the bid field that is at least $500 more than the previous bid and click Enter Bid. The top bidder at the end of the auction period will receive the ship and will be charged the bid amount.</p>

    <h2>Trading</h2>
    <p>Users can also trade items and currency directly with one another, bypassing the auction system. To offer a trade to another user, visit the <a href="{url 'view_trades'}">“trading”</a> page, select the user you want to trade with, and click “initiate trade.” Users can accept or decline incoming trade offers on the “trading” page.</p>

    <h2>Groups</h2>
    <p>Groups or Organizations can be created on the “groups” page. You can join other groups if the group owner invites you. They are currently cosmetic and do not add any functionality beyond visibility on the leaderboard and your profile.</p>

    <h1>About OpenFishbanks</h1>
    <p>OpenFishbanks is an open-source and asycnhronous extension of MIT Sloan's <a href="https://mitsloan.mit.edu/teaching-resources-library/fishbanks-a-renewable-resource-management-simulation">Fishbanks</a> designed to simulate the dynamics of a fishing economy. It is built using Django and Python, with HTML, CSS, and Javascript for frontend. All code and assets are avaliable on the projects <a href="https://github.com/Quilliams85/OpenFishbanks">github repository</a>. Feel free to reach out to quinnryanwilliams@gmail.com with questions or concerns about OpenFishbanks.</p>

    <h2>Developers</h2>
    <h3>Quinn Williams</h3>
    <p>Quinn Williams is a senior at Concord Academy</p>
</body>

{% endblock %}