{% extends 'fishbanksapp/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>About OpenFishbanks</h1>
    <p>OpenFishbanks is an open-source and asycnhronous extension of MIT Sloan's <a href="">Fishbanks</a> designed to simulate the dynamics of a fishing economy. It is built using Django and Python, with HTML, CSS, and Javascript for frontend. All code and assets are avaliable on the projects <a href="">github repository</a>. Feel free to reach out to quinnryanwilliams@gmail.com with questions or concerns about OpenFishbanks.</p>

    <h2>Developers</h2>
    <h3>Quinn Williams</h3>
    <p>Quinn Williams is a senior at Concord Academy</p>
</body>

{% endblock %}