{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Open Fishbanks {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="logo">OpenFishbanks</div>
        <div style="width:200px;float: center;">
            <span id="game-date">Loading...</span> <!-- Static date part -->
            <span id="game-time">Loading...</span> <!-- Dynamic time part -->
        </div>
        <script src="{% static 'fishbanksapp/js/game_time.js' %}"></script>
        {% if user.is_authenticated %}
        <div class="user-info">
            <span>Welcome, {{user.username}}</span>
        </div>
        {% else %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="login-button"><strong>Login</strong></button>
        </form>
        {% endif %}
    </div>

    <div class="container">
        <div class="side-bar">
            <ul>
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="/shop">Shop</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li>
                    <details>
                        <summary>My Fishery</summary>
                        <ul>
                            <li><a href="/myprofile">Profile</a></li>
                            <li><a href="/invoices">Invoices</a></li>
                            <li><a href="#">Transactions</a></li>
                            <li><a href="#">Ships</a></li>
                            <li><a href="#">Finances</a></li>
                            <li><a href="#">Groups</a></li>
                        </ul>
                    </details>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>