{% extends 'fishbanksapp/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harbors</title>

</head>
<body>
    <h1>Home Page</h1>
    <p>Welcome to Open Fishbanks!</p>
    <h1>Harbors</h1>
    <div class="harbor-container">
        {% for harbor in harbors %}
        <div class="ship-card {% if forloop.counter > 3 %}hidden{% endif %}">
            <h2>{{ harbor.name }}</h2>
            <p><strong>Fee:</strong> {{ harbor.storage_fee }}</p>
            <p>{{ harbor.description }}</p>
        </div>
        {% endfor %}
    </div>

    {% if harbors|length > 3 %}
    <div style="text-align: center; margin-top: 20px;">
        <button id="showAllButton" class="visit-button" onclick="showAllHarbors()">Show All</button>
    </div>
    {% endif %}

    <script>
        function showAllHarbors() {
            document.querySelectorAll('.harbor-card.hidden').forEach(harbor => {
                harbor.classList.remove('hidden');
            });
            document.getElementById('showAllButton').style.display = 'none';
        }
    </script>
</body>

{% endblock %}