{% extends 'fishbanksapp/base.html' %}
{% load auction_tags %}
{% load humanize %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <h1>Ships on Auction</h1>
    {% if not listings %}
    <i>No current listings</i>
    {% endif %}
    <div class="dashboard">
        {% for listing in listings %}
        {% if listing.end_time|format_time_remaining != "Auction ended" %}
        <div class="card" style="width: fit-content;">
            <h2>{{ listing.ship.name }}</h2>
            <p><strong>Time remaining: </strong>{{ listing.end_time|format_time_remaining }}</p>
            <p><strong>Listing created by:</strong> {{ listing.listing_owner }}</p>
            <p><strong>Status:</strong> {{ listing.status }}</p>
            <p><strong>Description:</strong> {{ listing.details }}</p>
            <p><strong>Buy Now:</strong> {{ listing.buy_now_price }}</p>

            <form action="{% url 'buy_now' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="buy-button" onclick="return confirm('Are you sure you want to purchase this ship?');">
                    Buy Now
                </button>
            </form>

            <!-- BID FORM -->
            <p></p>
            {% if not listing.current_bidder %}
            <p><i>No Bids have been placed, starting bid is {{listing.starting_bid}}</i></p>
            {% else %}
            <p><strong>Current Bid:</strong> {{ listing.current_bid }} (submitted by {{listing.current_bidder}})</p>
            {% endif %}
            <p><strong>Enter Bid<i>(must be minimum 500 greater than current)</i>:</strong></p>
            <form method="post" action="{% url 'place_bid' listing.id %}">
                {% csrf_token %}
                {% with bid_form=bid_forms|dict_get:listing.id %}
                    {{ bid_form.bid_amount }}
                {% endwith %}
                <button type="submit" class="buy-button">Place Bid</button>
            </form>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    <h1>Purchase From Manufacturers</h1>
    <div class="dashboard">
        {% for ship in ships %}
        <div class="card">
            <h2>{{ ship.name }}</h2>
            <p><strong>Price:</strong> ${{ ship.base_cost|intcomma }}</p>
            <p><strong>Maximum Fishing Rate:</strong> {{ ship.fishing_rate|intcomma }} kg/fishing cycle</p>
            <p><strong>Maximum Capacity:</strong> {{ ship.fishing_capacity|intcomma }} kg</p>
            <p><strong>Ships in Stock:</strong> 
                <span class="{% if ship.stock <= 2 %}stock-low{% endif %}">{{ ship.stock }}</span>
            </p>
            <p>{{ ship.description }}</p>
            <form action="{% url 'purchase_ship' ship.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="buy-button" {% if ship.stock <= 0 %}disabled{% endif %} onclick="return confirm('Are you sure you want to purchase this ship?');">
                    {% if ship.stock <= 0 %}Out of Stock{% else %}Buy{% endif %}
                </button>
            </form>
        </div>
        {% endfor %}
    </div>


    
</body>



{% endblock %}