{% extends 'fishbanksapp/base.html' %}
{% block content %}
<h1>{{user.username}}'s Ships</h1>
<div class="dashboard">
    {% if not locations %}
    <i>You currently own no ships</i>
    {% endif %}
    {% for loc in locations %}
    <div class="card" style="grid-column: span 3;">
        {% if loc.name == None %}
        <h2>Unassigned Ships</h2>
        {% else %}
        <h2>Ships at {{loc.name}}</h2>
        <p>{{loc.description}}</p>
        <p><strong>Storage Fee:</strong> ${{loc.storage_fee}}</p>
        {% endif %}
        <div class="ship-container">
            {% for ship in ships%}
                {% if ship.harbor == loc %}
                <div class="ship-card" style="background-color:#EEEEEE;">
                    <h2>{{ ship.nickname }}</h2>
                    <h3>{{ ship.name }}</h3>
                    <p><strong>Ship Location:</strong> {{ ship.harbor }}</p>
                    <form action="{% url 'modify' ship.id%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="buy-button">Modify Ship</button>
                    </form>
                    <p></p>
                    <form action="{% url 'create_listing' ship.id%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="buy-button">Auction Ship</button>
                    </form>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% if listings %}
<h1>Ships on Auction</h1>
<div class="ship-container">
    {% for listing in listings %}
    <div class="ship-card">
        <h2>{{ listing.ship.name }}</h2>
        <p>Listing created by: {{ listing.listing_owner }}</p>
        <p>Status: {{ listing.status }}</p>
        <p>Buy Now: {{ listing.buy_now_price }}</p>
        <p>Current Bid: {{ listing.current_bid }}</p>


        <p>{{ listing.details }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
