{% extends 'fishbanksapp/base.html' %}
{% block content %}
<h1>{{ profile_user.username }}</h1>
{% if user == profile_user%}
<i>This is your profile!</i>
{% endif %}
<div class="dashboard">
    <div class="card">
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" style="height: 150px; border-radius: 10px;">
        {% else %}
            <p>No profile picture uploaded.</p>
        {% endif %}    
    </div>
    <div class="card">
        <h2>Bio</h2>
        <p>{{profile.bio}}</p>
    </div>
    <div class="card">
        <h2>Financials</h2>
        <p>Current Balance: ${{profile.balance|floatformat:2|intcomma}}</p>
    </div>
    <div class="card">
        <h2>Fleet</h2>
        <ul>
            {% for ship in ships %}
                <li>
                    <p>{{ship.name}}[{{ship.nickname}}]</p>
                </li>
            {% endfor %}
        </ul>

    </div>
    <div class="card">
        <h2>Organizations</h2>
        <ul>
            {% for org in groups %}
            <li>
                <p><a href="{% url 'group_detail' org.id %}">{{org.name}}</a>:
                {% if org.owner == profile_user %}
                <strong>Owner</strong>
                {% else %}
                <strong>Member</strong>
                {% endif %}</p>
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="card" style="grid-column: span 3;">
        <h2>User Info</h2>
        <p>Email: {{ profile_user.email }}</p>
        <p>Last Login: {{ profile_user.last_login }}</p>
        <p>Account Created: {{ profile_user.date_joined }}</p>

    </div>
</div>
<a href="{% url 'leaderboard' %}">View All Users</a>
{% endblock %}
